<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="vscode" />
      <package id="notepadplusplus"/>
      <package id="graphviz"/>
      <package id="plantuml"/>
      <package id="googlechrome"/>
      <package id="chocolatey-core.extension"/>
      <package id="firefox"/>
      <package id="python3"/>
      <package id="7zip"/>
      <package id="dotnetfx"/>
      <package id="zoom"/>
      <package id="git.install"/>
      <package id="vlc"/>
      <package id="paint.net"/>
      <package id="choco-upgrade-all-at" packageParameters="'/TIME:23:00'"/>
      <package id="vscode-powershell"/>
      <package id="vscode-gitlens"/>
      <package id="vscode-csharp"/>
      <package id="postman"/>
      <package id="Office365ProPlus "/>
      <package id="powerbi "/>
      <package id="spotify"/>
      <package id="powershell-core"/>
      <package id="sysinternals"/>
      <package id="rdcman"/>     
      <package id="garmin-express"/>  
      <package id="gh"/>    
    </packages>